.hero{
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 8rem;
    padding-top: 120px;
    background-color: #09090b;
}
.hero-left{
    width: 50%;
}
.her-tag{
    color: white;
    margin-bottom: 1rem;
}

.hero h1{
    font-size: 5rem;
    line-height: 1;
    color: white;

}

.hero-decription{
    margin-top:2rem;
    color: white;
    max-width: 600px;
    line-height: 1.8;

}

.hero button{
    margin-top: 2rem;
    padding: 1rem 2rem;
    border:none;
    cursor: pointer;
    color: white;
    background: transparent;
    transition: all  0.3s ease;
}

.hero button:hover{
    background:white;
    color: black;
}

.hero-right{
    width: 40%;
    height:600px;
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background:#09090b;
    overflow-x:hidden;
}